<!-- <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
    style="width: 400px; height: 400px; display: block;"></highcharts-chart> -->
<div class="login">
    <h1>Water Consumption Prediction</h1>
    <label for="waterType">Select type of water: </label>
    <select id="city" [(ngModel)]="waterType">
        <option value="cold">Cold</option>
        <option value="hot">Hot</option>
    </select>
    <label for="datePicker">Select date: </label>
        
    <input type="date" id="datePicker" [(ngModel)]="selectedDate">
    <button (click)="getPrediction()">Get result</button>
    <p *ngIf="selectedDate">Predicton for {{ waterType }} water consumption for {{ selectedDate }}: {{ getPrediction() }}</p>
</div>